body {
  font-family: "Dosis", sans-serif; }
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px pink; 
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: rgb(255 192 203 / 60%); 
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255 192 203 / 90%); 
}
#events .row .col-md-7.col-sm-12 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#events .row.row_wed,
#events .row.row_rec {
  border: 1px dotted #ffc0cb;
  border-radius: 10px;
  overflow: hidden;
}
#events .row.row_wed:hover,
#events .row.row_rec:hover {
  border: 1px solid #ffc0cb;
  background-color: rgb(255 192 203 / 1%);
}
#events .row.row_wed {
  margin-bottom: 10px;
}
#events .row.row_wed img,
#events .row.row_rec img {
  border-radius: 10px;
}
.ww-nav-bar {
  box-shadow: 0px 0px 3px 0px #333333;
}
.ww-nav-bar .navbar {
  background-color: rgb(255 192 203 / 25%) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0 / 60%);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255 192 203 / 90%);
}
div.ww-section#rsvp {
  box-shadow: 0px 0px 3px 1px #333333;
}
a {
  color: rgb(255 192 203 / 90%);
}
a:hover {
  color: rgb(255 192 203 / 100%);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
button#sms_submit:active,
button#sms_submit:hover,
button#whatsapp_submit:active,
button#whatsapp_submit:hover {
  background-color: rgb(255 192 203 / 100%);
}
.row .event_number {
  position: absolute;
  background-color: rgb(255 192 203 / 50%);
  border-radius: 10px 0px 10px 0px;
  padding: 10px 15px;
}
/* Home Page Style */
.ww-home-page {
  background: url("../images/home-img-rd.jpg") no-repeat center center;
  background-size: cover;
  background-position: 70%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }
  .ww-home-page .ww-wedding-announcement {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px; }
    .ww-home-page .ww-wedding-announcement .ww-announcement-container {
      max-width: 600px;
      text-align: center;
      margin-left: 0;
      z-index: 999; }
    .ww-home-page .ww-wedding-announcement img {
      max-height: 350px;
      width: auto; }
      @media (max-width: 480px) {
        .ww-home-page .ww-wedding-announcement img {
          max-height: 250px;
          width: auto; } }
    .ww-home-page .ww-wedding-announcement .ww-couple-name {
      font-size: 70px; }
      @media (max-width: 576px) {
        .ww-home-page .ww-wedding-announcement .ww-couple-name {
          font-size: 50px; } }

.ww-home-page:before {
  content: "";
  background-color: rgba(245, 138, 119, 0.2);
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px;
  position: absolute;
  left: 0;
  top: 0; }

/* Nav Bar Style */
.ww-nav-bar .heart {
  fill: rgb(255 0 0 / 80%);
  position: relative;
  top: 2px;
  width: 40px;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite; }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.ww-nav-bar .nav-item {
  font-size: 18px;
  padding: 5px 0 5px 16px;
  font-weight: 500; }

/* Wedding Event Style */
.ww-wedding-event ul {
  list-style: none;
  padding-left: 0; }

/* Couple Friends Style  */
.ww-couple-friends .carousel {
  padding: 40px 0; }

.ww-couple-friends .carousel-indicators {
  bottom: 0px; }
  .ww-couple-friends .carousel-indicators li {
    background-color: #6c757d; }
  .ww-couple-friends .carousel-indicators .active {
    background-color: #f58a77; }

/* Photo Gallery Style */
.ww-photo-gallery .ww-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.ww-photo-gallery .ww-gallery {
  min-height: 500px; }

.ww-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none; }

@media (max-width: 992px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 2;
         column-count: 2; } }

@media (max-width: 576px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 1;
         column-count: 1; } }

/* RSVP Style */
.ww-rsvp-detail {
  background: url("../images/rsvp-img-rd.jpg") no-repeat center center;
  background-size: cover;
  min-height: 500px;
  position: relative; }
  .ww-rsvp-detail .ww-rsvp-form {
    padding-left: 20%; }
    @media (max-width: 768px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 10%; } }
    @media (max-width: 576px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 0%; } }
    .ww-rsvp-detail .ww-rsvp-form .form-control {
      background-color: rgba(222, 222, 222, 0.2);
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.6); }
    .ww-rsvp-detail .ww-rsvp-form .form-control::-moz-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control:-ms-input-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control::placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form select.form-control option {
      background: rgba(0, 0, 0, 0.3);
      color: #fff; }
    .ww-rsvp-detail .ww-rsvp-form .btn-submit {
      background-color: rgb(255 192 203 / 80%);
      padding: 0.45rem 1.5rem;
      border: 0; }

.ww-rsvp-detail:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

/* Footer Style */
.ww-footer a.credit {
  color: inherit;
  border-bottom: 1px dashed #ffc0cb;
  text-decoration: none;
  cursor: pointer; }

/* Common Style */
.ww-title {
  font-family: "Great Vibes", cursive; }

.ww-section {
  padding: 100px 0; }

.btn-primary {
  color: #fff; }

.btn-outline-primary:hover {
  color: #fff; }
