@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$bg: #131314;
$bg-accent: #1b1b1b;
$text: #f6f6f6;
$text-accent: #d6d6d6;
$text-faded: #181818;

$blue-bg: #282a2c;
$blue-text: #c2e7ff;
$green-bg: #262d26;
$green-text: #ceead6;
$red-bg: #312d2d;
$red-text: #e05f54;

$hacker-text: #d6d6d6;
$hacker-text-shadow: #00ff00;
$linkedin-color: #0a66c2;
$github-color: #181717;

@mixin light-theme {
	$bg: #ffffff;
	$bg-accent: #f6f6f6;
	$text: #1b1b1b;
	$text-accent: #303030;
	$text-faded: #f5f5f5;

	$blue-bg: #e8f0fe;
	$blue-text: #1967d2;
	$green-bg: #ceead6;
	$green-text: #188038;
	$red-bg: #fce8e6;
	$red-text: #ea4335;
}

@media (prefers-color-scheme: light) {
	@include light-theme;
}

@mixin base-font {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

@keyframes displayText {
    0%, 24.99% {
        opacity: 1;
        z-index: 1;
    }
    25%, 100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes animateText {
	0%,
	10%,
	100% {
		width: 0%;
	}

	70%,
	90% {
		width: 100%;
	}
}

* {
	@include base-font;
}

body,
app-root,
app-coming-soon {
	margin: 0;
	padding: 0;
	height: 100dvh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	background: $bg;
	color: $text;
}

app-coming-soon {
	background-image: linear-gradient(to right, $bg-accent 1px, transparent 1px),
		linear-gradient(to bottom, $bg-accent 1px, transparent 1px);
	background-size: 4dvh 4dvh;
	text-align: center;
	overflow: hidden;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}

a {
	font-weight: 500;
	color: #c2e7ff;
	text-decoration-line: none;
	border-radius: 5px;
	transition: all 0.15s linear;

	&:hover {
		color: $green-text;
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-thickness: from-font;
		text-underline-offset: 0.1em;
	}
}
